body
{
margin: 10px 0 0 20px;
color: rgb(255, 255, 255);
background-color: Black;
}
p
{
font-family: arial;
font-size:18px;
}
h1
{
color: rgb(244, 248, 249);
font-family: arial;
font-size: 32px;
}
a
{
color: rgb(255, 255, 255);
font-family: arial;
font-size: 18px;
}
