body
{
background-color: Black;
font-family: verdana
font-color: rgb(255, 255, 255);
}
p
{
color: rgb(255, 255, 255);
font-family: arial;
font-size:25px;
}
h1
{
color: rgb(244, 248, 249);
font-family: arial;
font-size: 50px;
}
